

  .main__menu__toggle {
    display: none;
  }
  
  .main__menu__holder {
    background-color: transparent;
    border-top: none;
    margin: 0;
    min-width: 400px;
    padding: 0;
    position: relative;
  }

  .main__menu__right {
    padding: 15px 0 0 0;
    margin: -15px 0 0 0;
  }

  .main__menu {
    display: flex;
    font-weight: 500;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0 3% 0 0;
    text-transform: uppercase;
  }
  
  .main__menu__icon, .main__menu__text {
    display: none;
  }

  .main__menu * {
    box-sizing: border-box;
  }
  
  .main__menu li {
    margin: 0 5px;
    padding: 10px;
  }
  
  .main__menu a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 0 0.5em 0;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .main__menu a:before,
  .main__menu a:after {
    position: absolute;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .main__menu a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: $pink-color;
  }
  .main__menu a:after {
    left: 0;
    top: 0;
    padding: 0 0 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .main__menu a:hover:before,
  .main__menu .current a:before {
    opacity: 1;
    width: 100%;
  }
  .main__menu a:hover:after,
  .main__menu .current a:after {
    max-width: 100%;
  }

  .main__menu__overlay--open {
    background-color: transparent;
    align-items: center;
    display: flex;
    border-top: none;
    left: 0;
    height: 50px;
    justify-content: flex-end;
    position: static;
    top: 0;
    transition: all .1s ease-in;
    width: auto;
    z-index: 0;
    font-weight: 500;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0 3% 0 0;
    text-transform: uppercase;
  }

  .main__menu__overlay--open .main__menu li a:link, .main__menu__overlay--open .main__menu li a:visited {
    display: inline-block;
    font-family: $font-stack;
    font-size: 1.2rem;
    padding: 0 0 0.5em 0;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .main__menu--hidden {
    display: flex;
  }  

  .home__splash {
    height: 88.7vh;
  }

  .home__splash__text {
    font-size: 6.2rem;
  }

  .home__splash__intro {
    font-size: 3.3rem;
  }

  .home__splash__bike {
    color: #fff;
    height: 135px;
    margin: 0;
    padding: 0; 
    width: 125px;
  }