

$font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-sans-serif: 'Raleway', Verdana, sans-serif;
$font-serif: 'Merriweather', Georgia, serif;

$root-font-size: 10px;


$background-main: #f5f5f5;
$background-border: #f1eeee;

$body-text-color: #4B4453;
$body-heading-color: #333333;

$pink-color: #FF6F91;
$purple-color: #845EC2;

.header__logo__link {
  color: #fff;
  text-decoration: none;
}

.home__splash__holder {
  margin: 0 auto;
  max-width: 90%;
}

.home__splash {
  align-items: center;
  background-image: linear-gradient(to right, #845ec2, #e65faa, #ff8080);
  display: flex;
  height: 82vh;
  justify-content: center;
  padding: 0;
  text-align: center;
}

.home__splash__bike {
  color: #fff;
  height: 95px;
  margin: 0;
  padding: 0; 
  width: 75px;
}

.home__splash__text {
  color: rgba(255,255,255,1.0);
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-shadow: 2px 5px 6px rgba(0,0,0,0.4),
                 0px -5px 35px rgba(255,255,255,0.5);
  text-align: left;
}

.home__splash__text__inner {
  border-bottom: 3px dotted #fff;
  padding: 0;
}

.home__splash__text__intro {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 600;
  margin: 20px 0;
  padding: 0;
  text-align: left;
  text-shadow: 2px 5px 6px rgba(0,0,0,0.3),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.home__splash__menu {
  color: #fff;
  display: flex;
  list-style-type: none;
  margin: 35px 0 0 0;
  padding: 0;
  justify-content: flex-end;
}

.home__splash__menu__item {
  padding: 0 5px;
}

.home__splash__menu li:first-of-type {
  padding: 0 5px 0 0;
}

.home__splash__menu li:last-of-type {
  padding: 0 0 0 5px;
}

.home__splash__menu__icon {
  height: 25px;
  margin: 0 auto;
  padding-bottom: 5px;
  width: 25px;
}

.home__splash__menu__icon--about {
  padding: 2px 0 5px 0;
  height: 22px;
  width: 22px;
}

.home__splash__menu__icon--portfolio {
  padding: 3px 0 4px 0;
  height: 22px;
  width: 22px;
}

.home__splash__menu__icon--blog {
  padding: 3px 0 3px 0;
  height: 23px;
  width: 23px;
}

.home__splash__menu__icon--email {
  padding: 3px 0 4px 0;
  height: 22px;
  width: 22px;
}

.home__splash__menu__icon__text {
  font-size: 1.2rem;
  font-variant: small-caps;
  text-transform: uppercase;
  padding: 5px;
}

.home__splash__link {
  color: #fff;
  text-decoration: none;
}

.home__splash__link:hover {
  text-decoration: underline;
}

.main__menu__holder {

}

.main__menu--hidden {
  display: none;
}

.main__menu__icon {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main__menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.main__menu__toggle {
  background-color: #000;
  border: none;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
}

.main__menu__toggle:hover {
  cursor: pointer;
}

.main__menu__overlay--open {
  align-items: center;
  display: flex;
  background: #030507;
  border-top: 4px solid #845EC2;
  left: 0;
  height: 92vh;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: all .1s ease-in;
  width: 100%;
  z-index: 99;
}

.main__menu__overlay {
  transition: all .1s ease-out;
}


.main__menu {
  color: #fff;
  font-size: 2.9rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all .1s ease-in;
}

.main__menu__overlay--open .main__menu li {
  margin: 25px 0;
  text-align: center;
}

.main__menu__overlay--open .main__menu li a:link, .main__menu__overlay--open .main__menu li a:visited {
  font-size: 2.2rem;
  color: #FDF7FF;
}

.gradient {
  height: 150px;
}

.gradient--dark {
  background-image: linear-gradient(to right bottom, #845ec2, #0077d0, #0085bf, #008a9a, #008b74);
}

.gradient--purple {
  background-image: linear-gradient(to right top, #845ec2, #8b69be, #9174bb, #967eb7, #9b89b3);
}

.gradient--blue {
  background-image: linear-gradient(to right bottom, #2c73d2, #007ecc, #0086be, #008bad, #008e9b);
}

.gradient--pink {
  background-image: linear-gradient(to right bottom, #ff6f91, #ff7887, #ff817e, #ff8c76, #ff9671);
}

.gradient--yellow {
  background-image: linear-gradient(to right bottom, #ff9671, #ffa16b, #ffad65, #ffba61, #ffc75f);
}

.main__content {

}

.main__content__header {
  margin-bottom: 25px;
}

.gatsby-highlight { 
  margin: 20px 0;
}


.projects__header {
  margin: 75px 0 0 0;
}

.projects__git {
  color: #4c4949;
  border: 1px solid #00C9A7;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 25px 0 50px 0;
  padding: 10px 25px;
}

.projects__git a:link, .projects__git a:visited {
  color: #4c4949;
  text-decoration: underline;
}

.projects__git a:hover, .projects__git a:active {
  color: #4c4949;
  text-decoration: none;
}

.projects__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 900px;
}

.projects__card {
  background-color: #fff;
  border: 1px solid #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 0 50px 0;
  max-width: 375px;
  -webkit-box-shadow: -1px 3px 14px -6px rgba(120,111,120,0.48);
  -moz-box-shadow: -1px 3px 14px -6px rgba(120,111,120,0.48);
  box-shadow: -1px 3px 14px -6px rgba(120,111,120,0.48);
}

.projects__card__heading {
  background-color: rgba(75,68,83,.95);
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
  font-size: 1.5rem;
  margin: 0;
}

.projects__card__description {
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
}

.projects__card__technologies__icon, .projects__card__view__icon {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 15px; 
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15px;
}

.projects__card__technologies__icon {
  color: #ccc;
  border: 1px solid #ccc;
}

.projects__card__view {
  align-items: center;
  display: flex;
  font-weight: 600;
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
  margin: 0 0 25px 0;
  padding: 10px 15px;
}


.projects__card__view a:link, .projects__card__view a:visited {
  font-weight: 400;
  text-decoration: underline;
}

.projects__card__view a:hover, .projects__card__view a:active {
  font-weight: 400;
  text-decoration: none;
}

.projects__card__view a:link:last-of-type {
  margin-left: 15px;
}

.projects__card__view__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}


.projects__card__technologies {
  align-items: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  display: flex;
  margin: 25px 0 0 0;
  padding: 10px 15px;
}

.projects__card__technologies__inner {
  margin-left: 10px;
}

.projects__card__technologies__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px 23px;
  padding: 0;
}

.projects__card__technologies__list__item {
  background-color: #eee;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 5px;
  padding: 2px 10px;
}


.projects__note {
  background-color: #fff;
  border: 1px solid #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: $font-stack;
  margin: 25px 0 50px 0;
  padding: 20px;
}

.projects__note a:link, .projects__note a:visited {
  color: inherit;
  text-decoration: underline;
}

.projects__note a:hover, .projects__note a:active {
  color: #000;
  text-decoration: none;
}



.blog__title {
  margin: 35px 0 0 0;
}

.blog__meta {
  display: block;
  color: gray;
  font-weight: 400;
  margin: 0 0 25px 0;
  padding: 0;

}

.blog__card {
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0 0 25px 0;
  padding: 25px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(180,180,180,0.35);
  -moz-box-shadow: 0px 5px 10px 0px rgba(180,180,180,0.35);
  box-shadow: 0px 5px 10px 0px rgba(180,180,180,0.35);
}

.blog__card:hover {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.blog__card__date {
  color: rgba(0,0,0,0.6);
  font-variant: small-caps;
  font-weight: bold;
  font-size: 75%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.blog__card__header {
  color: #845EC2;
  border-bottom: 1px solid #ccc;
  margin: 0 0 12.5px 0;
  padding: 5px 0;
}

.blog__card__text {
  margin: 0;
  padding: 0;
}

.blog__card a:link, .blog__card a:visited {
  color: inherit;
  text-decoration: none;
}

.blog__card:hover {
  border: 1px solid #999;
  cursor: pointer;
}


.four04 {
  font-size: 110%;
  margin: 0 auto;
  text-align: center;
}

.four04__icon {
  margin: 50px 0;
}

.four04__icon__image {
  max-width: 500px;
  padding: 25px;
  width: 80%;
}

pre {
  background-color: rgb(250, 249, 249);
  border: 1px solid #eee;
  border-radius: 5px;
  font-weight: bold;
  padding: 25px;
  margin: 3rem 0;
}

@media only screen and (min-width: 720px)  {
  
  @import 'desktop';

}

@media only screen and (min-width: 1065px)  {
  
  .contact__page {
    align-items: top;
    display: flex;
    justify-content: space-between;
  }

  .contact__page__social__holder {
    margin: 0;
  }

}