@import 'normalize';

$font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$background-main: #f5f5f5;
$background-border: #f1eeee;

$body-text-color: #4B4453;


body {
  background-color: $background-main;
  font-family: $font-stack;
  font-size: 10px;
}

.header {
  align-items: center;
  background: #152331;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #000000, #152331);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #000000, #152331);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
}

.home__splash {
  background-image: linear-gradient(to right, #845ec2, #e65faa, #ff8080, #ffbb61, #f9f871);
  height: 100vh;
}

.home__splash__text {
  font-family: 'Raleway', sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 50%;
  color: rgba(255,255,255,1.0);
  text-shadow: 2px 5px 6px rgba(0,0,0,0.4),
                 0px -5px 35px rgba(255,255,255,0.5);
}

.home__splash__text__inner {
  border-bottom: 3px dotted #fff;
  padding: 0 5px;
}

.main__menu__holder {
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #eee;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 89;
}

.main__menu__overlay--open {
  background-color: red;
  left: 0;
  height: 80%;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all .3s ease-in;
  z-index: 99;
}

.main__menu__overlay--closed {
  display: none;
}

.main__menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 500;
}
.main__menu * {
  box-sizing: border-box;
}
.main__menu li {
  margin: 0 1.5em;
  padding: 10px;
}
.main__menu a {
  display: inline-block;
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.main__menu a:before,
.main__menu a:after {
  position: absolute;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.main__menu a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #2980b9;
}
.main__menu a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.main__menu a:hover:before,
.main__menu .current a:before {
  opacity: 1;
  width: 100%;
}
.main__menu a:hover:after,
.main__menu .current a:after {
  max-width: 100%;
}

.gradient {
  background-color: yellow;
  height: 150px;
}

.main__content {
  background-color: #fff;
  border: 1px solid $background-border;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 50vh;
  margin: -50px 5% 100px 5%;
  padding: 5%;
  -webkit-box-shadow: -1px 12px 22px -1px rgba(230,209,230,1);
  -moz-box-shadow: -1px 12px 22px -1px rgba(230,209,230,1);
  box-shadow: -1px 12px 22px -1px rgba(230,209,230,1);
}


@media only screen and (min-width: 600px)  {
  
  .main__menu__holder {
    background-color: transparent;
    border-top: none;
    position: relative;
    width: auto;
  }

}