@tailwind base;
@tailwind components;
@tailwind utilities;


.header__logo {
    height: 150px;
    width: 150px;
}

.hcard__photo {
    width: 150px !important;
    height: 150px !important;
}

.header__nav {
    display: none;
}

@media screen and (min-width: 800px) {
    .header__nav {
        display: block;
    }
}

.header__nav__item {
    @apply bg-green-50 border border-green-200 text-xs font-sans text-gray-600 font-bold hover:bg-green-400 hover:text-white
}

.home__post__list li:last-of-type {
    @apply border-b-2 border-gray-100
}

.button {
    @apply p-4 text-white font-bold bg-purple-500
}