:root {
    --background-main: #f5f5f5;
    --background-border: #f1eeee;
    --body-text-color: #4B4453;
    --body-heading-color: #333333;
    --pink-color: #FF6F91;
    --purple-color: #845EC2;
}

html {
    background-color: #fff;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.hidden { display: none; }