.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 16px;
  top: 26px;
}

.bm-item {
  display: flex !important;
}

.bm-burger-bars {
  background: #000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #fff;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

